.allPictures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.pictureDiv {
    height: 100px;
    width: 100px;
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(225, 236, 236);
    border-radius: 10px;
}

.pictureDiv:hover {
    background-color: rgb(236, 225, 230);
    box-shadow: 5px 5px 20px rgb(88, 87, 87);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .pictureDiv {
        height: 150px;
        width: 150px;
        margin: 10px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .pictureDiv {
        height: 200px;
        width: 200px;
       
    }
}