.categoriesCardsDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100vw;
    
    

}
.card{
    height: 100px;
    width: 130px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    box-shadow: 1px 1px 5px rgb(123, 122, 122);

    
}
.card:hover{
    box-shadow: 7px 7px 25px rgb(123, 122, 122);
}

.cardQuotesDiv{
    height: 750px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    background-color: rgb(255, 255, 255); 
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgb(172, 170, 170);
    background-color: rgb(209, 211, 211);
   
    
    
    
    
    
    
}

.prevBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 5px;
   
    
}


.quote{
    background-color: rgb(87, 177, 182);
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    color: white;
    box-shadow: 2px 2px 20px rgb(86, 88, 88);
    font-size: 0.7em;
    width: 280px;
}
.quote:hover{
    background-color: rgb(236, 130, 171);
    color: black;
}
.quoteTitle{
    font-size: 1.5em;
    text-align: center;
    font-weight: bold ;
}
.quotesDivBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 10px;
    padding: 15px;
    
    
}
.spinnersDiv{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}


/* css breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    .cardQuotesDiv{
        height: 380px;
        width: 780px;
        flex-direction: row;
    } 
    .quote{
        width: 450px;
    } 
    .card{
        height: 200px;
        width: 200px;
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .cardQuotesDiv{ 
        width: 980px;
    } 

    .cardQuotesDiv{ 
        width: 770px;
        /* font-family: Georgia, 'Times New Roman', Times, serif;
        font-family: Arial, Helvetica, sans-serif; */
        
    } 

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
