.categoriesCardsDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100vw;
    
    

}
.card{
    height: 250px;
    width: 300px;
    margin: 20px;
}
.card:hover{
    box-shadow: 5px 5px 20px rgb(123, 122, 122);
}

.cardQuotesDiv{
    height: 750px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    background-color: rgb(255, 255, 255); 
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgb(172, 170, 170);
    background-color: rgb(209, 211, 211);
    
    
    
    
    
    
}

.prevBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 5px;
   
    
}


.quote{
    background-color: rgb(87, 177, 182);
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    color: white;
    box-shadow: 2px 2px 20px rgb(86, 88, 88);
}
.quote:hover{
    background-color: rgb(236, 130, 171);
    color: black;
}
.quotesDivBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 10px;
    padding: 15px;
    
}

/* css breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    .cardQuotesDiv{
        height: 380px;
        width: 730px;
        flex-direction: row;
    } 
    .quote{
        width: 450px;
    } 
    .prevBox{
        margin-bottom: 40px; 
    }  

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .cardQuotesDiv{ 
        width: 980px;
    } 

    .cardQuotesDiv{ 
        width: 770px;
        
    } 

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
