.nameBoard{
    font-size: 2em;
    color: rgb(70, 105, 75);
    text-shadow: 2px 2px 20px rgb(196, 194, 194);
    font-weight: bold;
    font-family: Berkshire Swash;
}
.loginForm{
    height: auto;
    width: auto;
    padding: 30px;
    background-color:white;
    border-radius: 30px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-image: url(https://ik.imagekit.io/frd2fxkds6/picture_flower_boquet.png?updatedAt=1687109732754);  
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    width: 300px;
    
}
.login{
    font-size: 1.5em;
    font-weight: bold;
    color:white;
    text-shadow: 5px 5px 15px rgb(0, 0, 0);
    
}
.inputBox{
    border-radius: 15px;
    text-align: center;
    background-color: transparent; 
    border: 1px solid black;
    color: white;
    text-shadow: 5px 5px 15px rgb(255, 255, 255);
    margin: 5px;
}
.loginBtn{
   background-color: rgb(103, 148, 70);
   margin: 10px;
   padding: 5px;
   border-radius: 15px;
   color: white;
   text-shadow: 5px 5px 15px rgb(0, 0, 0);

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .loginForm{
        width: 500px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}