.printPages {
    height: 500px;
    width: 1000px;
    margin: 20px;
    position: relative;
    box-shadow: 2px 2px 20px rgb(179, 177, 177);
    display: flex;
    flex-direction: row;
    display: none;

}

.midLine {
    height: 150px;
    width: 1px;
    position: absolute;
    left: 150px;
}

.printPgSide {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
   
}
.Page{
    display: flex;
    flex-direction: row;

}
.picDownload{
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.logo{
    height: 80px;
    width: 100px;
    background-image: url(https://ik.imagekit.io/frd2fxkds6/Rectangle_2.png?updatedAt=1687433309121);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
    
.logoBox{
    height: 430px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    justify-items: center;

}
.DownloadCompleteCard{
    
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .printPages {
        display: block;
        
    }

    .printPgSide {
        
    }

    .midLine {
        height: 500px;
        width: 2px;
        left: 500px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}