.mainBcGround {
    width: 100vw;
}

.thumbNail {
    height: 200px;
    width: 250px;
    background-image: url(https://ik.imagekit.io/frd2fxkds6/ReDIThumbnailMobile.png?updatedAt=1687772709703);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 20px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .thumbNail{
        background-image: url(https://ik.imagekit.io/frd2fxkds6/ReDIThumbnail.png?updatedAt=1687250643323);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}