.cardImgQuotePrev{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.colorTest{
    height: 100px;
    width: 100px;
    border: 2px solid rgb(230, 51, 152);
}
.colourPallete {
    height: 50px;
    width: 100px;
    border: 3px solid rgb(178, 236, 239);
    
}
.colourCheck{
    color: rgb(25, 149, 149);
    font-size: 2em ;
    margin-left:40px; 
    
    
}
.colourCheck:hover{
    color: rgb(232, 40, 114);
    box-shadow: 2px 2px 20px rgb(225, 224, 224);
}

 
