.cardImgQuotePrev{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.colorTest{
    height: 100px;
    width: 100px;
    border: 2px solid rgb(230, 51, 152);
}
