/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Anuphan&family=Archivo:ital,wght@1,100&family=Barlow+Semi+Condensed:wght@300&family=Black+Ops+One&family=Henny+Penny&family=Inter:wght@700&family=Josefin+Sans&family=Kablammo&family=Montserrat+Alternates&family=Open+Sans&family=Righteous&family=Roboto&family=Shantell+Sans&family=Stick+No+Bills&display=swap');

/* font-family: 'Lobster', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Anuphan&family=Archivo:ital,wght@1,100&family=Barlow+Semi+Condensed:wght@300&family=Black+Ops+One&family=Henny+Penny&family=Inter:wght@700&family=Josefin+Sans&family=Kablammo&family=Lobster&family=Montserrat+Alternates&family=Open+Sans&family=Righteous&family=Roboto&family=Shantell+Sans&family=Stick+No+Bills&display=swap');

/* font-family: 'Berkshire Swash', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Anuphan&family=Archivo:ital,wght@1,100&family=Barlow+Semi+Condensed:wght@300&family=Berkshire+Swash&family=Black+Ops+One&family=Henny+Penny&family=Inter:wght@700&family=Josefin+Sans&family=Kablammo&family=Lobster&family=Montserrat+Alternates&family=Open+Sans&family=Righteous&family=Roboto&family=Shantell+Sans&family=Stick+No+Bills&display=swap');

/* font-family: 'Henny Penny', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Anuphan&family=Archivo:ital,wght@1,100&family=Barlow+Semi+Condensed:wght@300&family=Berkshire+Swash&family=Black+Ops+One&family=Henny+Penny&family=Inter:wght@700&family=Josefin+Sans&family=Kablammo&family=Lobster&family=Montserrat+Alternates&family=Open+Sans&family=Righteous&family=Roboto&family=Shantell+Sans&family=Stick+No+Bills&display=swap');

/* font-family: 'Snowburst One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Anuphan&family=Archivo:ital,wght@1,100&family=Barlow+Semi+Condensed:wght@300&family=Berkshire+Swash&family=Black+Ops+One&family=Henny+Penny&family=Inter:wght@700&family=Josefin+Sans&family=Kablammo&family=Lobster&family=Montserrat+Alternates&family=Open+Sans&family=Righteous&family=Roboto&family=Shantell+Sans&family=Snowburst+One&family=Stick+No+Bills&display=swap');

/* font-family: 'Bonbon', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Anuphan&family=Archivo:ital,wght@1,100&family=Barlow+Semi+Condensed:wght@300&family=Berkshire+Swash&family=Black+Ops+One&family=Bonbon&family=Henny+Penny&family=Inter:wght@700&family=Josefin+Sans&family=Kablammo&family=Lobster&family=Montserrat+Alternates&family=Open+Sans&family=Righteous&family=Roboto&family=Rubik+Maze&family=Shantell+Sans&family=Snowburst+One&family=Stick+No+Bills&display=swap');

/* font-family: 'Tapestry', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Anuphan&family=Archivo:ital,wght@1,100&family=Barlow+Semi+Condensed:wght@300&family=Berkshire+Swash&family=Black+Ops+One&family=Bonbon&family=Henny+Penny&family=Inter:wght@700&family=Josefin+Sans&family=Kablammo&family=Lobster&family=Montserrat+Alternates&family=Open+Sans&family=Righteous&family=Roboto&family=Rubik+Maze&family=Shantell+Sans&family=Snowburst+One&family=Stick+No+Bills&family=Tapestry&display=swap');

/* font-family: 'Luckiest Guy', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Anuphan&family=Archivo:ital,wght@1,100&family=Barlow+Semi+Condensed:wght@300&family=Berkshire+Swash&family=Black+Ops+One&family=Bonbon&family=Henny+Penny&family=Inter:wght@700&family=Josefin+Sans&family=Kablammo&family=Lobster&family=Luckiest+Guy&family=Montserrat+Alternates&family=Open+Sans&family=Righteous&family=Roboto&family=Rubik+Maze&family=Shantell+Sans&family=Snowburst+One&family=Stick+No+Bills&family=Tapestry&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

.allPageLayout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.pageHeadings{
    font-size: 2em;
    text-align: center;
}
.homeBtn {
    background-color: transparent;
    border: none;
    color: white;
    box-shadow: 2px 2px 20px black;
}
.homeBtn:hover {
    background-color: transparent;
    background-color: rgb(241, 148, 179);
    
}
.invisible{
    display: none;
}
.logoDiv{
    height: 60px;
    width: 60px;
    background-image: url(https://ik.imagekit.io/frd2fxkds6/Rectangle_2.png?updatedAt=1687335811843);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.cardPrev {
    
    height: 280px;
    width:280px;
    background-color: white;
    text-align: center;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    box-shadow: 2px 2px 20px rgb(86, 88, 88);
}

 .selectedPicDiv{
    height: 220px;
    width: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
   
    
} 
