@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Anuphan&family=Archivo:ital,wght@1,100&family=Barlow+Semi+Condensed:wght@300&family=Black+Ops+One&family=Henny+Penny&family=Inter:wght@700&family=Josefin+Sans&family=Kablammo&family=Montserrat+Alternates&family=Open+Sans&family=Righteous&family=Roboto&family=Shantell+Sans&family=Stick+No+Bills&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.allPageLayout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.pageHeadings{
    font-size: 2em;
    text-align: center;
}
.homeBtn {
    background-color: transparent;
    border: none;
    color: white;
}
.invisible{
    display: none;
}
